/* You can add global styles to this file, and also import other style files */
@use './styles/fonts';
@use './styles/colour';

// RESET
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {box-sizing: border-box;}
/* 2. Remove default margin */
* {margin: 0;}
/* 3. Allow percentage-based heights in the application */
html, body {height: 100%;}
/* Typographic tweaks! Add accessible line-height & Improve text rendering */
body {line-height: 1.5; -webkit-font-smoothing: antialiased;}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {display: block; max-width: 100%;}
/* 7. Remove built-in form typography styles */
input, button, textarea, select {font: inherit;}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}

// BODY DEFAULT STYLES
body {
  font-family: var(--font-family-default);
  font-size: var(--fs-400);
  color: var(--clr-dark-blue);
}

/* Only for this project as it is not a part of a larger project */
@media (min-width: 600px) {
  /* Aligns the content centre for desktop screens */
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
}